:root {
    --primary-color: slategrey;
}

::selection {
    background-color: #f77802;
    color: #fff;
}

.content-area ::selection {
    background-color: #fff;
    color: #f77802;
}

* {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "popins";
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-thumb {
    background: #f77902;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
} */
::-webkit-scrollbar {
    display: none;
}


body {
    font-family: "popins";
    background-color: rgba(246, 243, 243, 0.846);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container {
    padding: 10px 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col-25 {
    width: 25%;
}

.col-33 {
    width: 32%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-75 {
    width: 75%;
}

.lg {
    min-height: 100vh;
    width: 100%;
    background-color: #485461c5;
    background-image: linear-gradient(135deg, #485461 0%, #28313bd1 74%), url(../imgs/heder-bg.jpg);
    overflow-x: hidden;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
}

.navbar {
    margin: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo img {
    /* font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem; */
    width: 200px;
}

/* 
.logo span {
    font-weight: 300;
} */

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}

.bar:before,
.bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}

header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #48546160 0%, #28313b78 74%);
    /* background: url("assets/imgs/heder-bg.jpg") no-repeat top center / cover; */
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, 0.173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: 44rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}

.title {
    font-size: 2.7rem;
    margin: 10px 0;
    transition: all .5s;
}

.title:hover {
    color: #f77802ab;
    /* color: linear-gradient(135deg, #48546160 0%, #28313b78 74%); */
}

.inner p {
    font-size: 17px;
    margin: 10px 0;
    transition: all .5s;
    /* line-height: 27px; */
    /* word-spacing: 7px; */
}

.inner p:hover {
    color: #f77802;
}

.btn {
    margin: 20px 0;
    transition: all .5s;
    /* margin-top: 1rem; */
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #f77802;
}

.btn:hover {
    /* background-color: #fff; */
    background-color: #f77902;
    color: #fff
}

.lg.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}

.lg.active .bar:before {
    transform: translateY(0) rotate(45deg);
}

.lg.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}

.lg.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }

    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}

.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #f77902;
    /* border-bottom: 1px solid #353434; */
}

.lg.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
}

.shadow.one {
    z-index: -1;
    opacity: 0.15;
}

.shadow.two {
    z-index: -2;
    opacity: 0.1;
}

.lg.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
    0% {
        transform: translate(0);
    }

    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}

.lg.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
    0% {
        transform: translate(0);
    }

    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}

.lg.active .main:hover+.shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.lg.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}


/* ------- sec-1 start ---------- */




.psg-info-tf {
    padding: 10px 10px;
}

.psg-info-tf h3 {
    background: #646464;
    margin: 0;
    border-radius: 4px 4px 0 0;
    font-size: 1.000em;
    color: #fff;
    padding: 12px 22px;
    font-weight: 100;
}

.menu-psg {
    margin: 8px 0;
    border: 1px solid #dbd6d6;
    background-color: #f77802;
}

.menu-psg ul {
    color: #fff7;
    list-style: none;
    background-color: #f77902;
}

.menu-psg ul li:hover {
    color: #fff;
    list-style: none;
    background-color: #646464;
}


.menu-psg ul li span {
    padding: 8px 22px;
    transition: all .5s;
    color: #fff;
    border-bottom: 1px solid #dbd6d6;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}

.menu-right {
    padding: 0px 10px;
    margin: 12px 0;
    background-color: #fff;
}

.menu-rgt-h3 h3 {
    /* margin: 20px 20px; */
    border-bottom: 1px solid #dbd6d6;
    color: #f77802;
    padding: 10px 0;
    font-weight: 500;
}

table,
th {
    background-color: #f77802b1;
    margin: 20px 20px;
    border: 1px solid black;
}

table tr td {
    color: rgba(255, 255, 255, 0.909);
    background-color: #f77802b1;
    padding: 5px 10px;
}

table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead th {
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.909);
}

.content-area {
    padding: 20px;
}

.content-area .cust-care p {
    padding: 20px;
    color: rgba(255, 255, 255, 0.909);
    ;
    margin-bottom: 10px;
}

.content-area .cust-care ol {
    list-style: decimal;
    padding: 20px;
    color: rgba(255, 255, 255, 0.909);
    ;
    margin: 0px 10px 10px;
}

.content-area .cust-care a {
    text-decoration: none;
    color: rgb(43, 51, 59);
}

.content-area .dos-donts h3 {
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.909);
    border-bottom: 1px solid #dbd6d6;
}

.content-area .dos-donts ul {
    list-style: disc;
    color: rgba(255, 255, 255, 0.909);
    padding: 20px;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .dos-donts ul li {
    margin: 10px 10px;
}

.content-area .bg-clr {
    background-color: #f77802e1;
}

.content-area .smart-cards h3 {
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.909);
    font-weight: 500;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .smart-cards ul {
    list-style: disc;
    color: rgba(255, 255, 255, 0.909);
    padding: 20px;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .smart-cards ul li {
    margin: 10px 10px;
}

.content-area marquee p {
    margin: 20px 0;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #f77802;
}

@keyframes blinker {
    50% {
        opacity: -1;
    }
}

.content-area .fare-rules ul {
    list-style: disc;
    color: rgba(255, 255, 255, 0.909);
    padding: 20px;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .fare-rules ul li {
    margin: 10px 10px;
}

.content-area .fare-rules ul li ol {
    margin: 10px 30px;
}

.content-area .safe-secure ul {
    list-style: disc;
    color: rgba(255, 255, 255, 0.909);
    padding: 20px;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .safe-secure thead tr th {
    color: rgba(255, 255, 255, 0.909);
    padding: 15px;
}

.content-area .safe-secure tbody tr td {
    padding: 10px 30px !important;
}

.table {
    width: 100%;
    text-align: center;
    font-size: 1.000em;
    line-height: 1.313em;
    margin: 0;
}

.table img {
    height: 120px;
    width: 200px;
    /* padding: 10px 0px; */
}

.content-area .lnf h3 {
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.909);
    border-bottom: 1px solid #dbd6d6;
    font-weight: 500;
}
.content-area address{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    color: rgba(255, 255, 255, 0.909);
}
.content-area .lnf a{
    color: #646464;
}

.content-area .lnf ul {
    list-style: disc;
    color: rgba(255, 255, 255, 0.909);
    padding: 20px;
    border-bottom: 1px solid #dbd6d6;
}

.content-area .lnf ul li {
    margin: 10px 10px;
}






.tab-links {
    margin-left: 25px;
    margin-right: 25px;
    /* font-size: 18px; */
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    /* background: #ff004f; */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    /* list-style: none; */
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}



/* footer start */

footer {
    background-color: #424141;
}

.footer-links {
    padding: 40px 0;
}

.footer-links h3 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
}

.footer-links li a {
    /* display: flex; */
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    vertical-align: middle;
}

.footer-links ul li a:hover {
    opacity: 0.7;
    color: #f77902;
    font-size: 13px;
    padding: 5px 0;
}

.footer-links p:hover {
    color: #f77902;
}

.footer-links ul li i:hover {
    color: #f77902;
}

.footer-links p {
    display: inline-block;
    width: 82%;
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
}

/* .reg-office,
.menu-links,
.cnt-info {
    padding: 20px 0;
} */

.mb {
    vertical-align: middle;
    margin: 0 10px 10px 0;
    color: #fff;
    opacity: 0.7;
}

.rgi {
    vertical-align: middle;
    margin: 0 10px 0px 0;
    color: #fff;
    opacity: 0.7;
}

.reg-office span {
    display: inline-block;
    width: 82%;
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
}

.reg-office span:hover {
    color: #f77902;
}

.reg-office li {
    margin-bottom: 10px;
}

.copyright {
    width: 100%;
    background: #353434;
    padding: 25px 0;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright p {
    color: #fff;
}

.copyright a {
    color: #f77902;
}

.copyright i {
    color: #ff004f;
}

/* footer end  */