:root {
    --primary-color: slategrey;
}
::selection{
    background-color: #f77802;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "popins";
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-thumb {
    background: #f77902;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
} */
::-webkit-scrollbar {
    display: none;
}


body {
    font-family: "popins";
    background-color: rgba(246, 243, 243, 0.846);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container {
    padding: 10px 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* 
.col-25 {
    width: 25%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: 32%;
} */

.lg {
    min-height: 100vh;
    width: 100%;
    background-color: #485461c5;
    background-image: linear-gradient(135deg, #485461 0%, #28313bd1 74%), url(../imgs/heder-bg.jpg);
    overflow-x: hidden;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
}

.navbar {
    margin:15px 0 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo img {
    /* font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem; */
    width: 200px;
}

/* 
.logo span {
    font-weight: 300;
} */

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}

.bar:before,
.bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}

header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #48546160 0%, #28313b78 74%);
    /* background: url("assets/imgs/heder-bg.jpg") no-repeat top center / cover; */
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, 0.173);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: 35rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}

.title {
    font-size: 2.7rem;
    margin: 10px 0;
    transition: all .5s;
}

.title:hover {
    color: #f77802ab;
    /* color: linear-gradient(135deg, #48546160 0%, #28313b78 74%); */
}

.inner p {
    font-size: 17px;
    margin: 10px 0;
    transition: all .5s;
    /* line-height: 27px; */
    /* word-spacing: 7px; */
}

.inner p:hover {
    color: #f77802;
}

.btn {
    margin: 20px 0;
    transition: all .5s;
    /* margin-top: 1rem; */
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #f77802;
}

.btn:hover {
    /* background-color: #fff; */
    background-color: #f77902;
    color: #fff
}

.lg.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}

.lg.active .bar:before {
    transform: translateY(0) rotate(45deg);
}

.lg.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}

.lg.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }

    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}

.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #f77902;
    /* border-bottom: 1px solid #353434; */
}

.lg.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
}

.shadow.one {
    z-index: -1;
    opacity: 0.15;
}

.shadow.two {
    z-index: -2;
    opacity: 0.1;
}

.lg.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
    0% {
        transform: translate(0);
    }

    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}

.lg.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
    0% {
        transform: translate(0);
    }

    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}

.lg.active .main:hover+.shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.lg.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/* .slide .p-animate{
    animation: 5s linear slidein;
}
@keyframes slidein {
    0%{margin-left: 100%;
        width: 300%;}
    20%{margin-left: 80%;
        width: 300%;}
    40%{margin-left: 60%;
        width: 300%;}
    60%{margin-left: 40%;
        width: 200%;}
    80%{margin-left: 20%;
        width: 150%;}
    100%{margin-left: 0%;
        width: 100%;}
} */
.sec-1 {
    background-color: #3c4c5d;
    /* background-image: linear-gradient(135deg, #485461 0%, #28313bd1 74%); */
}

.carousel-container {
    /* border-radius: 30px; */
    overflow: hidden;
    max-width: 800px;
    position: relative;
    box-shadow: 0 0 30px -20px #34495e;
    margin: auto;
    z-index: 0;

}

.imp-inf span {
    z-index: 2;
    position: absolute;
    background-color: #f77902;
    padding: 9px 10px;
    color: #fff;
    text-transform: uppercase;
}

.slide {
    /* position: relative; */
    overflow: hidden;
    margin: 0 10px;
    /* border: 0.01mm ridge black; */
}

.slide marquee {
    /* overflow: hidden; */
    padding: 9px 10px;
    background-color: #fff;
}

.col-60 {
    display: block;
    padding: 20px 0px;
    width: 66%;
}

.col-25 {
    width: 25%;
}

.col-40 {
    display: block;
    padding: 20px 20px;
    width: 33%;
}

.col-33 {
    padding: 0 15px;
    margin-right: auto;
    /* margin: 10px 8px; */
    width: 32%;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    display: block;
    width: 100%;
}

image gradient overlay [optional] .mySlides::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
    background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.text {
    color: #f2f2f2;
    background-color: rgba(10, 10, 20, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/* Number text (1/3 etc) */
.number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}



/* The dots/bullets/indicators */

/* .active,
.dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
} */

/* transition animation */
.animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
}

@keyframes animate {
    from {
        transform: scale(1.1) rotateY(10deg);
    }

    to {
        transform: scale(1) rotateY(0deg);
    }
}


/* sec-2 start */
.sec-2 .contentbox {
    height: 400px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 10px;
    border-width: 1px 1px 6px;
    border-color: #dbe1e4;
    border-style: solid;
    margin-bottom: 20px;
}

.sec-2 .heading {
    /* padding: 10px 9px; */
    display: inline-block;
    padding: 10px;
    background-color: #f77902;
    color: #fff;
    text-transform: uppercase;
    /* width: 120px; */
}

.sec-2 .text-2 {
    margin: 20px 0;
}

.sec-2 .text-2 img {
    padding: 20px 20px;
    width: 100%;
}

.text-2 marquee {
    height: 260px;
}

.text-2 marquee p {
    padding: 16px 15px;
    /* border-bottom: 1px solid #dcdcdc; */
}

.text-2 p {
    font-size: 14px;
}


/* bottom slider start  */
#slider {
    background-color: #fff;
    z-index: 1000;
    /* height: fit-content; */
    /* width: ; */
}

.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide {
    display: flex;
}

.slider-card img {
    margin-right: 10px;
    width: 100%;
}

.swiper-slide img {
    padding: 0 20px;
    margin: 0 30px;
    /* justify-content: space-between; */
    width: 240px;
}

/* bootom slider end */
/* sec-2 end  */




/* footer start */

footer {
    background-color: #424141;
}

.footer-links {
    padding: 40px 0;
}

.footer-links h3 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
}

.footer-links li a {
    /* display: flex; */
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    vertical-align: middle;
}

.footer-links ul li a:hover {
    opacity: 0.7;
    color: #f77902;
    font-size: 13px;
    padding: 5px 0;
}

.footer-links p:hover {
    color: #f77902;
}

.footer-links ul li i:hover {
    color: #f77902;
}

.footer-links p {
    display: inline-block;
    width: 82%;
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
}

/* .reg-office,
.menu-links,
.cnt-info {
    padding: 20px 0;
} */

.mb {
    vertical-align: middle;
    margin: 0 10px 10px 0;
    color: #fff;
    opacity: 0.7;
}

.rgi {
    vertical-align: middle;
    margin: 0 10px 0px 0;
    color: #fff;
    opacity: 0.7;
}

.reg-office span {
    display: inline-block;
    width: 82%;
    opacity: 0.7;
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
}

.reg-office span:hover {
    color: #f77902;
}

.reg-office li {
    margin-bottom: 10px;
}

.copyright {
    width: 100%;
    background: #353434;
    padding: 25px 0;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright p {
    color: #fff;
}

.copyright a {
    color: #f77902;
}

.copyright i {
    color: #ff004f;
}

/* footer end  */