:root {
    --primary-color: slategrey;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "popins";
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
    font-family: "popins";
    background-color: rgba(246, 243, 243, 0.846);
}

header {
    width: 100%;
    height: 550px;
    background-image: url(../imgs/heder-bg.jpg);
    background-repeat: no-repeat;
}

.container {
    padding: 10px 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 240px;
}

nav ul {
    background-color: #f77902;
    border-radius: 7px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    /* margin: 10px 15px; */
    padding: 10px 15px;
}

nav ul li a {
    cursor: zoom-in;
    color: lavender;
    font-size: 17px;
    padding: 10px 10px;

}

nav ul li a i {
    margin: 0 3px;
}

nav ul li a:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

.imp-inf span {
    z-index: 2;
    position: absolute;
    background-color: #f77902;
    padding: 9px 10px;
    color: #fff;
    text-transform: uppercase;
}

.slide {
    /* position: relative; */
    overflow: hidden;
    margin: 0 10px;
    /* border: 0.01mm ridge black; */
}

.slide marquee {
    /* overflow: hidden; */
    padding: 9px 10px;
    background-color: #fff;
}

.col-60 {
    display: block;
    padding: 20px 0px;
    width: 66%;
}

.col-40 {
    display: block;
    padding: 20px 20px;
    width: 33%;
}

.col-33 {
    margin-right: auto;
    /* margin: 10px 8px; */
    width: 32%;
}

/* .slide .p-animate{
    animation: 5s linear slidein;
}
@keyframes slidein {
    0%{margin-left: 100%;
        width: 300%;}
    20%{margin-left: 80%;
        width: 300%;}
    40%{margin-left: 60%;
        width: 300%;}
    60%{margin-left: 40%;
        width: 200%;}
    80%{margin-left: 20%;
        width: 150%;}
    100%{margin-left: 0%;
        width: 100%;}
} */

.carousel-container {
    /* border-radius: 30px; */
    overflow: hidden;
    max-width: 800px;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    z-index: 0;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    display: block;
    width: 100%;
}

image gradient overlay [optional] .mySlides::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
    background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.text {
    color: #f2f2f2;
    background-color: rgba(10, 10, 20, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/* Number text (1/3 etc) */
.number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}



/* The dots/bullets/indicators */

/* .active,
.dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
} */

/* transition animation */
.animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
}

@keyframes animate {
    from {
        transform: scale(1.1) rotateY(10deg);
    }

    to {
        transform: scale(1) rotateY(0deg);
    }
}


/* sec-2 start */
.sec-2 .contentbox {
    height: 400px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 10px;
    border-width: 1px 1px 6px;
    border-color: #dbe1e4;
    border-style: solid;
    margin-bottom: 20px;
}

.sec-2 .heading {
    /* padding: 10px 9px; */
    display: inline-block;
    padding: 10px;
    background-color: #f77902;
    color: #fff;
    text-transform: uppercase;
    /* width: 120px; */
}

.sec-2 .text-2 {
    margin: 20px 0;
}

.sec-2 .text-2 img {
    padding: 20px 20px;
    width: 100%;
}
.text-2 marquee{
    height: 260px;
}
.text-2 marquee p{
    padding: 16px 15px;
    border-bottom: 1px solid #dcdcdc;
}
.text-2 p{
    font-size: 14px;
}